<!-- START MAIN CONTENT -->
<div class="noo-content col-xs-12 col-md-8">
	<div class="submit-content">
		<%= render partial: "/properties/new", locals: {property: Property.new(user_id: @user.id)} %>
	</div>						
</div>	  		
<!-- END MAIN CONTENT -->
