      <!-- START SLIDESHOW HOME -->
      <section id="slideshow-home" class="wrap noo-slideshow slideshow-home">
        <div class="property-slider">
          <div id="noo-slider-1" class="noo-slider noo-property-slide-wrap">
            <ul class="sliders">
              <li class="slide-item noo-property-slide">
                <img src="assets/slideshow/bg-slide1.jpg" class="attachment-property-slider" alt="" />
                <div class="slide-caption">
                  <div class="slide-caption-info">
                    <h3><a href="property-details.html">Fresno, CA93722</a>
                      <small>6001 W Alluvial Ave</small>
                    </h3>
                    <div class="info-summary">
                      <div class="size">
                        <span>2400 sqft</span>
                      </div>
                      <div class="bathrooms">
                        <span>3</span>
                      </div>
                      <div class="bedrooms">
                        <span>4</span>
                      </div>
                      <div class="property-price">
                        <span>
                          <span class="amount">&#36;309,000</span>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="slide-caption-action"><a href="property-details.html">More Details</a>
                  </div>
                </div>
              </li>
              <li class="slide-item noo-property-slide">
                <img src="assets/slideshow/bg-slide1.jpg" class="attachment-property-slider" alt="" />
                <div class="slide-caption">
                  <div class="slide-caption-info">
                    <h3><a href="property-details.html">Oakland, NJ94605</a>
                      <small>8727 Thermal St</small>
                    </h3>
                    <div class="info-summary">
                      <div class="size">
                        <span>2,568 sqft</span>
                      </div>
                      <div class="bathrooms">
                        <span>2</span>
                      </div>
                      <div class="bedrooms">
                        <span>4</span>
                      </div>
                      <div class="property-price">
                        <span>
                          <span class="amount">&#36;335,000</span>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="slide-caption-action"><a href="property-details.html">More Details</a>
                  </div>
                </div>
              </li>
              <li class="slide-item noo-property-slide">
                <img src="assets/slideshow/bg-slide1.jpg" class="attachment-property-slider" alt="" />
                <div class="slide-caption">
                  <div class="slide-caption-info">
                    <h3><a href="property-details.html">Visalia, NJ 93277</a>
                      <small>3211 S Parkwood Ct</small>
                    </h3>
                    <div class="info-summary">
                      <div class="size">
                        <span>1913 sqft</span>
                      </div>
                      <div class="bathrooms">
                        <span>2</span>
                      </div>
                      <div class="bedrooms">
                        <span>4</span>
                      </div>
                      <div class="property-price">
                        <span>
                          <span class="amount">&#36;154,500</span>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="slide-caption-action"><a href="property-details.html">More Details</a>
                  </div>
                </div>
              </li>
            </ul>
            <div class="clearfix"></div>
            <div id="noo-slider-1-pagination" class="slider-indicators indicators-center-bottom"></div>
            <a id="noo-slider-1-prev" class="slider-control prev-btn" role="button" href="#">
              <span class="slider-icon-prev"></span>
            </a>
            <a id="noo-slider-1-next" class="slider-control next-btn" role="button" href="#">
              <span class="slider-icon-next"></span>
            </a>
          </div>
        </div>
      </section>
      <!-- END SLIDESHOW HOME -->
      <!-- START SEARCH BOX -->
      <section id="search-box" class="wrap search-box">
        <div class="gsearch">
          <div class="container">
            <!-- START GSEARCH INFO -->
            <div class="gsearch-info">
              <h4 class="gsearch-info-title">Find Your Place</h4>
              <div class="gsearch-info-content">Instantly find your desired place from your own idea of location, at any price <br> and other elements just by starting your search now</div>
            </div>
            <!-- END GSEARCH INFO -->

            <!-- START GSEARCH WRAP -->
            <div class="gsearch-wrap">
              <form class="gsearchform" method="get" role="search">
                <div class="gsearch-content">
                  <div class="gsearch-field">
                    <div class="form-group glocation">
                      <div class="label-select">
                        <select class="form-control">
                          <option>All Locations</option>
                          <option>New Jersey</option>
                          <option>New York</option>
                        </select>
                      </div>
                    </div>

                    <div class="form-group gsub-location">
                      <div class="label-select">
                        <select class="form-control">
                          <option>All Sub-locations</option>
                          <option>Central New York</option>
                          <option>GreenVille</option>
                          <option>Long Island</option>
                          <option>New York City</option>
                          <option>West Side</option>
                        </select>
                      </div>
                    </div>

                    <div class="form-group gstatus">
                      <div class="label-select">
                        <select class="form-control">
                        <option>All Status</option>
                        <option>Open house</option>
                        <option>Rent</option>
                        <option>Sale</option>
                        <option>Sold</option>
                      </select>
                      </div>
                    </div>

                    <div class="form-group gtype">
                      <div class="label-select">
                        <select class="form-control">
                          <option>All Type </option>
                          <option>Apartment</option>
                          <option>Co-op</option>
                          <option>Condo</option>
                          <option>Single Family Home</option>
                        </select>
                      </div>
                    </div>

                    <div class="form-group gbed">
                      <div class="label-select">
                        <select class="form-control">
                          <option>No. of Bedrooms</option>
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                          <option>5</option>
                        </select>
                      </div>
                    </div>

                    <div class="form-group gbath">
                      <div class="label-select">
                        <select class="form-control">
                          <option>No. of Bathrooms</option>
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                        </select>
                      </div>
                    </div>

                    <div class="form-group gprice">
                      <span class="gprice-label">Price</span>
                      <div class="gslider-range gprice-slider-range"></div>
                      <span class="gslider-range-value gprice-slider-range-value-min"></span>
                      <span class="gslider-range-value gprice-slider-range-value-max"></span>
                    </div>

                    <div class="form-group garea">
                      <span class="garea-label">Area</span>
                      <div class="gslider-range garea-slider-range"></div>
                      <span class="gslider-range-value garea-slider-range-value-min"></span>
                      <span class="gslider-range-value garea-slider-range-value-max"></span>
                    </div>
                  </div>

                  <div class="gsearch-action">
                    <div class="gsubmit">
                      <a class="btn btn-deault" href="#">Search Property</a>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <!-- END GSEARCH WRAP -->
          </div>
        </div>
      </section>
      <!-- END SEARCH BOX -->
      <!-- START RECENT PROPERTIES -->
      <section id="recent-properties-slider" class="wrap recent-properties recent-properties-slider">
        <div class="container">
          <div class="recent-properties-inner">
            <div class="section-title">
              <h3 align="center">TOP 6</h3>
            </div>
            <div class="recent-properties">
              <div class="properties grid">
                <!-- START PROPERTIES CONTENT -->
                <div class="properties-content">


                  <article class="hentry">
                    <div class="property-featured">
                      <span class="featured"><i class="fa fa-star"></i></span>
                      <a class="content-thumb" href="property-details.html">
                        <img src="assets/property/property1.jpg" alt="">
                      </a>
                      <span class="property-label">Buen Negocio</span>
                      <span class="property-category"><a href="#">Co-op</a>
                      </span>
                    </div>
                    <div class="property-wrap">
                      <h2 class="property-title">
                        <a href="property-details.html" title="101 W 115th St #2B">101 W 115th St #2B</a>
                      </h2>
                      <div class="property-excerpt">
                        <p>This beautiful pre-war Co-op building situated in the heart of Harlem is 4 blocks from...</p>
                        <p class="property-fullwidth-excerpt">This beautiful pre-war Co-op building situated in the heart of Harlem is 4 blocks from Central Park and around the corner from the express 2/3...</p>
                      </div>
                      <div class="property-summary">
                        <div class="property-detail">
                          <div class="size">
                            <span>1516 sqft</span>
                          </div>
                          <div class="bathrooms">
                            <span>3</span>
                          </div>
                          <div class="bedrooms">
                            <span>3</span>
                          </div>
                        </div>
                        <div class="property-info">
                          <div class="property-price">
                            <span><span class="amount">&#36;449,999</span> /month</span>
                          </div>
                          <div class="property-action">
                            <a href="property-details.html">More Details</a>
                          </div>
                        </div>
                        <div class="property-info property-fullwidth-info">
                          <div class="property-price">
                            <span><span class="amount">&#36;439,000</span> </span>
                          </div>
                          <div class="size"><span>536 sqft</span></div>
                          <div class="bathrooms"><span>2</span></div>
                          <div class="bedrooms"><span>4</span></div>
                        </div>
                      </div>
                    </div>
                    <div class="property-action property-fullwidth-action">
                      <a href="property-details.html">More Details</a>
                    </div>
                  </article>

                </div>
                <!-- END PROPERTIES CONTENT -->
              </div>              
            </div>                              
          </div>
        </div>
      </section>
      <!-- END RECENT PROPERTIES -->

      <!-- START FEATURED PROPERTIES -->
      <section id="recent-properties-featured" class="wrap recent-properties recent-properties-featured">
        <div class="container">
          <div class="recent-properties-inner">
            <div class="recent-properties-title">
              <h3>Featured Properties</h3>
            </div>
            <div class="recent-properties-content">
              <div class="caroufredsel-wrap">
                <ul>
                  <li>
                    <article class="hentry has-featured">
                      <div class="property-featured">
                        <a class="content-thumb" href="property-details.html">
                          <img src="assets/property/featured-properties1.jpg" class="attachment-property-image" alt="" /> </a>
                        <span class="property-category"><a href="type-single-family-home.html">Single Family Home</a></span>
                      </div>
                      <div class="property-wrap">
                        <h2 class="property-title"><a href="property-details.html" title="Visalia, NJ 93277">Visalia, NJ 93277</a></h2>
                        <div class="property-excerpt">
                          <p>This 4 bedroom home sits on an oversized lot at the end of a cul-de-sac in an established neighborhood. It is in need of work however would make a great...</p>
                        </div>
                        <div class="property-summary">
                          <div class="property-detail">
                            <div class="size"><span>1913 sqft</span>
                            </div>
                            <div class="bathrooms"><span>2</span>
                            </div>
                            <div class="bedrooms"><span>4</span>
                            </div>
                          </div>
                          <div class="property-info">
                            <div class="property-price">
                              <span><span class="amount">&#36;154,500</span> </span>
                            </div>
                            <div class="property-action">
                              <a href="property-details.html">More Details <i class="fa fa-arrow-circle-o-right"></i></a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </article>
                  </li>
                  <li>
                    <article class="hentry has-featured">
                      <div class="property-featured">
                        <a class="content-thumb" href="property-details.html">
                          <img src="assets/property/featured-properties1.jpg" class="attachment-property-image" alt="" /> </a>
                        <span class="property-category"><a href="type-single-family-home.html">Single Family Home</a></span>
                      </div>
                      <div class="property-wrap">
                        <h2 class="property-title"><a href="property-details.html" title="Single Family Residential, NJ">Single Family Residential, NJ</a></h2>
                        <div class="property-excerpt">
                          <p>Classic 60's ranch living. House has hardwood floors and hard coat plaster walls and ceilings in good condition. Intimate backyard for private gatherings. Full basement leaves plenty of room for...</p>
                        </div>
                        <div class="property-summary">
                          <div class="property-detail">
                            <div class="size"><span>1118 sqft</span>
                            </div>
                            <div class="bathrooms"><span>2</span>
                            </div>
                            <div class="bedrooms"><span>3</span>
                            </div>
                          </div>
                          <div class="property-info">
                            <div class="property-price">
                              <span><span class="amount">&#36;299,000</span> </span>
                            </div>
                            <div class="property-action">
                              <a href="property-details.html">More Details <i class="fa fa-arrow-circle-o-right"></i></a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </article>
                  </li>
                  <li>
                    <article class="hentry has-featured">
                      <div class="property-featured">
                        <a class="content-thumb" href="property-details.html">
                          <img src="assets/property/featured-properties1.jpg" class="attachment-property-image" alt="" /> </a>
                        <span class="property-category"><a href="type-apartment.html">Apartment</a></span>
                      </div>
                      <div class="property-wrap">
                        <h2 class="property-title"><a href="property-details.html" title="Peter Cooper Village">Peter Cooper Village</a></h2>
                        <div class="property-excerpt">
                          <p>Peter Cooper Village/ Stuyvesant Town provides an unbeatable combination of city energy and community tranquility, providing insulation from the city that surrounds it, yet situated next to Manhattan's most dynamic...</p>
                        </div>
                        <div class="property-summary">
                          <div class="property-detail">
                            <div class="size"><span>1304 sqft</span>
                            </div>
                            <div class="bathrooms"><span>2</span>
                            </div>
                            <div class="bedrooms"><span>3</span>
                            </div>
                          </div>
                          <div class="property-info">
                            <div class="property-price">
                              <span><span class="amount">&#36;5,109</span> /month</span>
                            </div>
                            <div class="property-action">
                              <a href="property-details.html">More Details <i class="fa fa-arrow-circle-o-right"></i></a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </article>
                  </li>
                </ul>
              </div>
              <a class="caroufredsel-prev" href="#"></a>
              <a class="caroufredsel-next" href="#"></a>
            </div>
          </div>
        </div>
      </section>
      <!-- END FEATURED PROPERTIES -->

      <!-- START OUR SERVICES -->
      <section id="our-sevices" class="wrap our-sevices">
        <div class="container">
          <div class="parallax">
            <div class="bg parallax-bg"></div>
            <div class="overlay"></div>
            <div class="our-sevices-content">
              <div class="row clearfix">
              
                <div class="col-xs-12 col-sm-4 our-sevices-col">
                  <span class="service-icon">
                    <i class="fa fa-home"></i>
                  </span>
                  <hr class="noo-gap">
                  <div class="text-block">
                    <h5>Hottest Property List</h5>
                    <p>Wherever you are and you want to go, we provide you extremely hot and continuously<br>updated property list.</p>
                    <p><a class="icon-right" href="#">See latest list<i class="fa fa-arrow-circle-o-right"></i></a></p>
                  </div>
                </div>

                <div class="col-xs-12 col-sm-4 our-sevices-col">
                  <span  class="service-icon">
                    <i class="fa fa-thumbs-o-up"></i>
                  </span>
                  <hr class="noo-gap">
                  <div class="text-block">
                    <h5>Best Price In Market</h5>
                    <p>Wherever you are and you want to go, we provide you extremely hot and continuously
                    <br>updated property list.</p>
                    <p><a class="icon-right" href="#">See latest list<i class="fa fa-arrow-circle-o-right"></i></a>
                    </p>
                  </div>
                </div>

                <div class="col-xs-12 col-sm-4 our-sevices-col">
                  <span class="service-icon">
                    <i class="fa fa-star"></i>
                  </span>
                  <hr class="noo-gap">
                  <div class="text-block">
                    <h5>Guaranteed Service</h5>
                    <p>Wherever you are and you want to go, we provide you extremely hot and continuously
                      <br>updated property list.</p>
                    <p>
                      <a class="icon-right" href="#">See latest list<i class="fa fa-arrow-circle-o-right"></i></a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- END OUR SERVICES -->

      <!-- START RECENT AGENTS -->
      <section id="recent-agents-slider" class="wrap recent-agents recent-agents-slider">
        <div class="container">
          <div class="recent-agents-inner">
            <div class="recent-agents-title">
              <h3>MEET OUR AGENTS</h3>
            </div>
            <div class="recent-agents-content">
              <div class="caroufredsel-wrap row">
                <ul>
                  <li class="col-md-4 col-sm-6">
                    <!-- START AGENT 1 -->
                    <article class="hentry has-featured">
                      <div class="agent-featured">
                        <a class="content-thumb" href="agents-detail.html">
                          <img src="assets/agent/agent1.jpg" alt="" />
                        </a>
                      </div>
                      <div class="agent-wrap">
                        <h2 class="agent-title"><a href="agents-detail.html" title="Adam Scooter">Adam Scooter</a></h2>
                        <div class="agent-excerpt">
                          <p>When people are looking for a real estate professional to consult, studies show they care most about loyalty and accountability....</p>
                        </div>
                        <div class="agent-social-wrap">
                          <div class="social-list agent-social">
                            <a href="#" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                            <a href="#" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                            <a href="#" title="Google +" target="_blank"><i class="fa fa-google-plus"></i></a>
                            <a href="#" title="Linkedin" target="_blank"><i class="fa fa-linkedin"></i></a>
                            <a href="#" title="Pinterest" target="_blank"><i class="fa fa-pinterest"></i></a>
                          </div>
                        </div>
                      </div>
                    </article>
                    <!-- END AGENT 1 -->
                  </li>

                  <li class="col-md-4 col-sm-6">
                    <!-- START AGENT 2 -->
                    <article class="hentry has-featured">
                      <div class="agent-featured">
                        <a class="content-thumb" href="agents-detail.html">
                          <img src="assets/agent/agent1.jpg" alt="" />
                        </a>
                      </div>
                      <div class="agent-wrap">
                        <h2 class="agent-title"><a href="agents-detail.html" title="Thomas Adam Clayton">Thomas Adam Clayton</a></h2>
                        <div class="agent-excerpt">
                          <p>Recognized as the top selling broker in Lower Manhattan and among the best in New York City, Thomas Adam Clayton...</p>
                        </div>
                        <div class="agent-social-wrap">
                          <div class="social-list agent-social">
                            <a href="#" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                            <a href="#" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                            <a href="#" title="Google +" target="_blank"><i class="fa fa-google-plus"></i></a>
                            <a href="#" title="Linkedin" target="_blank"><i class="fa fa-linkedin"></i></a>
                            <a href="#" title="Pinterest" target="_blank"><i class="fa fa-pinterest"></i></a>
                          </div>
                        </div>
                      </div>
                    </article>
                    <!-- END AGENT 2 -->
                  </li>

                  <li class="col-md-4 col-sm-6">
                    <!-- START AGENT 3 -->
                    <article class="hentry has-featured">
                      <div class="agent-featured">
                        <a class="content-thumb" href="agents-detail.html">
                          <img src="assets/agent/agent1.jpg" alt="" />
                        </a>
                      </div>
                      <div class="agent-wrap">
                        <h2 class="agent-title"><a href="agents-detail.html" title="Stacy Barron">Stacy Barron</a></h2>
                        <div class="agent-excerpt">
                          <p>Stacy is a long time resident and successful broker in the Lincoln Center area. Never far from home, sheis intimately acquainted...</p>
                        </div>
                        <div class="agent-social-wrap">
                          <div class="social-list agent-social">
                            <a href="#" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                            <a href="#" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                            <a href="#" title="Google +" target="_blank"><i class="fa fa-google-plus"></i></a>
                            <a href="#" title="Linkedin" target="_blank"><i class="fa fa-linkedin"></i></a>
                            <a href="#" title="Pinterest" target="_blank"><i class="fa fa-pinterest"></i></a>
                          </div>
                        </div>
                      </div>
                    </article>
                    <!-- END AGENT 3 -->
                  </li>

                  <li class="col-md-4 col-sm-6">
                    <!-- START AGENT 4 -->
                    <article class="hentry has-featured">
                      <div class="agent-featured">
                        <a class="content-thumb" href="agents-detail.html">
                          <img src="assets/agent/agent1.jpg" alt="" />
                        </a>
                      </div>
                      <div class="agent-wrap">
                        <h2 class="agent-title"><a href="agents-detail.html" title="Michael Feng">Michael Feng</a></h2>
                        <div class="agent-excerpt">
                          <p>Michael Feng is a real estate agent, but his true goal is to be a resource for his clients. Since 2006,...</p>
                        </div>
                        <div class="agent-social-wrap">
                          <div class="social-list agent-social">
                            <a href="#" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                            <a href="#" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                            <a href="#" title="Google +" target="_blank"><i class="fa fa-google-plus"></i></a>
                            <a href="#" title="Linkedin" target="_blank"><i class="fa fa-linkedin"></i></a>
                            <a href="#" title="Pinterest" target="_blank"><i class="fa fa-pinterest"></i></a>
                          </div>
                        </div>
                      </div>
                    </article>
                    <!-- END AGENT 4 -->
                  </li>

                  <li class="col-md-4 col-sm-6">
                    <!-- START AGENT 5 -->
                    <article class="hentry has-featured">
                      <div class="agent-featured">
                        <a class="content-thumb" href="agents-detail.html">
                          <img src="assets/agent/agent1.jpg" alt="" />
                        </a>
                      </div>
                      <div class="agent-wrap">
                        <h2 class="agent-title"><a href="agents-detail.html" title="John Doe">John Doe</a></h2>
                        <div class="agent-excerpt">
                          <p>John Doe, the founding partner of Elegran, started the company in 2007 in a unique way. He did this without...</p>
                        </div>
                        <div class="agent-social-wrap">
                          <div class="social-list agent-social">
                            <a href="#" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                            <a href="#" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                            <a href="#" title="Google +" target="_blank"><i class="fa fa-google-plus"></i></a>
                            <a href="#" title="Linkedin" target="_blank"><i class="fa fa-linkedin"></i></a>
                            <a href="#" title="Pinterest" target="_blank"><i class="fa fa-pinterest"></i></a>
                          </div>
                        </div>
                      </div>
                    </article>
                    <!-- END AGENT 5 -->
                  </li>
                </ul>
              </div>
              <a class="caroufredsel-prev" href="javascript:void(0)"></a>
              <a class="caroufredsel-next" href="javascript:void(0)"></a>
            </div>
          </div>
        </div>
      </section>
      <!-- END RECENT AGENTS -->