<p id="notice"><%= notice %></p>

<h1>Listing Property Options</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @property_options.each do |property_option| %>
      <tr>
        <td><%= link_to 'Edit', edit_property_option_path(property_option) %></td>
        <td><%= link_to 'Destroy', property_option, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Property option', new_property_option_path %>
